In [126]:
#CHECK THE DATA - IMPORT YOUR .CSV FILE AND VIEW THE FIRST 5 ROWS TO MAKE SURE ITS CORRECT
import pandas as pd
import os

student_data = os.path.join('.', 'Resources', 'new_full_student_data.csv')
student_df = pd.read_csv(new_full_student_data)
student_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '.\\Resources\\new_full_student_data'

In [117]:
student_df.isna().sum()

student_id       0
student_name     0
grade            0
school_name      0
reading_score    0
math_score       0
school_type      0
dtype: int64

In [112]:
student_df = student_df.dropna()
student_df.isna().sum()

student_id       0
student_name     0
grade            0
school_name      0
reading_score    0
math_score       0
school_type      0
dtype: int64

In [95]:
# NOW FIND DUPLICATE DATA   .. how much?
student_df.duplicated().sum()

1299

In [96]:
# DROP THE DUPLICATES AND CHECK THEY ARE GONE
student_df = student_df.drop_duplicates()
student_df.duplicated().sum()

0

In [97]:
# CHECK THEY ARE GONE
student_df.dtypes

student_id         int64
student_name      object
grade             object
school_name       object
reading_score    float64
math_score       float64
school_type       object
dtype: object

In [98]:
#Visually inspect the "grade" column to identify why it’s type is object rather than int, as the following code shows:
student_df['grade']

0        11th
2        12th
3        11th
4        12th
5         9th
         ...
13935    10th
13936    10th
13937     9th
13938    10th
13939    11th
Name: grade, Length: 10604, dtype: object

In [99]:
# remove the strings after the number .."11th""12th""10th"
student_df['grade'] = student_df['grade'].str.replace('th', '')
student_df['grade']

0        11
2        12
3        11
4        12
5         9
         ..
13935    10
13936    10
13937     9
13938    10
13939    11
Name: grade, Length: 10604, dtype: object

In [100]:
# Change the type of the “grade“ column to int by using astype, 
student_df['grade'] = student_df['grade'].astype(int)
student_df.dtypes

student_id         int64
student_name      object
grade              int32
school_name       object
reading_score    float64
math_score       float64
school_type       object
dtype: object

In [101]:
#Preview the data by using head to ensure that the data is correct
student_df.head()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
0,127008367,Sarah Douglas,11,Chang High School,87.2,64.1,Public
2,44359500,Ryan Haas,12,Campbell High School,91.6,54.7,Public
3,24791243,Kathryn Mack,11,Richard High School,68.9,73.3,Charter
4,121467881,Harold Reynolds,12,Chang High School,68.7,43.4,Public
5,79397676,Kyle Brooks,9,Turner High School,72.6,55.4,Public

In [1]:
import pandas as pd

goog_df = pd.DataFrame({"AAPL": [1045.85, 1070.08, 1140.99, 1113.65, 1193.32, 1231.54, 1215.00, 1207.15,1248.84, 1166.27, 1138.85, 1003.63, 1080.91]})

goog_df

       AAPL
0   1045.85
1   1070.08
2   1140.99
3   1113.65
4   1193.32
5   1231.54
6   1215.00
7   1207.15
8   1248.84
9   1166.27
10  1138.85
11  1003.63
12  1080.91

In [3]:
goog_df.describe()

              AAPL
count    13.000000
mean   1142.775385
std      76.556568
min    1003.630000
25%    1080.910000
50%    1140.990000
75%    1207.150000
max    1248.840000